<template>
<div class="home-container">
    <div class="container-header flex justify-center">
        <div class="content-header grid-system mt-8">
            <div class="side-left">
                <div class="menu">
                    <img src="./../../assets/img/menu.svg">
                </div>

                <div class="information">
                    <span class="title-ad">Enjoy!</span>
                    <div class="description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mi mauris arcu aenean in mauris elementum sed non. In sapien enim
                        </p>
                    </div>
                    <div class="search-container flex justify-start">
                        <div class="input-search">
                            <input type="text" placeholder="Search your drink">
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>
        <div class="background-image ">
            <img src="./../../assets/picture.png">
        </div>
    </div>
</div>
</template>

<script>
export default {
    name: 'Home'
}
</script>
