<template>
<Home />
</template>

<script>
import Home from "./core/pages/Home.vue"
export default {
    name: 'App',
    components: {
        Home
    }
}
</script>

<style lang="scss">
#app {}
</style>
