.home-container {
    width: 100%;

    .container-header {
        position: relative;
        width: 100%;

        .content-header {
            position: relative;
            z-index: 10;
        }

        .grid-system {
            width: 92%;
            display: grid;
            grid-template-columns: 350px 1fr;

            .side-left {
                width: 100%;

                .menu {
                    width: 25px;
                }

                .information {
                    margin-top: 200px;
                    width: 100%;

                    .title-ad {
                        display: inline-block;
                        font-size: 78px;
                        font-weight: bold;
                        color: var(--purple);
                    }

                    .description {
                        width: 100%;
                        color: var(--white);
                        font-size: 16px;
                        margin: 20px 0;
                        line-height: 1.2rem;

                        p {
                            text-align: justify;
                        }
                    }

                    .search-container {
                        .input-search {
                            input {
                                color: var(--light-purple) !important;
                                border: 0 !important;
                                padding: 10px !important;
                                border-radius: 25px;
                                width: 300px;

                                &:focus {
                                    outline: none;
                                }
                            }
                        }

                    }
                }
            }
        }

        .background-image {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
        }
    }
}